.profile {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-top: 18px;
  background-color: white;
  margin-bottom: 5px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: grey solid 1px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 24px;
  color: black;
  margin: 10px;
}
.tag {
  font-size: 14px;
  color: grey;
  margin: 10px;
  font-weight: 400;
}

.location {
  font-size: 14px;
  margin: 10px;
  color: grey;
  font-weight: 400;
}

.stats {
  display: flex;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.userListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 93px;
  background-color: lightgrey;
  border-radius: 3px;
  margin: 1px;
}

.userListItem:hover {
  background-color: rgb(152, 152, 152);
  transform: scale(110%);
}
.label {
  font-size: 12px;
  font-weight: 300;
  color: grey;
}
.quantity {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
